[submodule "picoweb"]
	path = picoweb
	url = https://github.com/chrismue/picoweb.git
[submodule "micropython-lib"]
	path = micropython-lib
	url = https://github.com/chrismue/micropython-lib
[submodule "tobbad"]
	path = tobbad
	url = https://github.com/chrismue/micropython_lib.git
